.logo-social{
    max-width: 70px;
    margin: 50px 20px;
    cursor: pointer;
    animation: float 5s linear infinite;
}
.logo-social:nth-child(1) {
    animation-duration: 10s;
}
.logo-social:nth-child(2) {
    animation-duration: 7s;
}


@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }100%{
        transform: translateY(0);
    }
}

