*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}



body{
  /* z-index: 10; */
  /* background-image: url(/public/assets/background.jpg); */
}

.miVideo{
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -10;
}
html{
  scroll-behavior: smooth
}

/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;1,300&family=Roboto+Mono&display=swap'); */

h1{
  font-family: 'Roboto Mono', monospace;
  color: white;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  text-shadow: rgb(41, 41, 41) 3px 2px 3px;
  font-size: 1.5rem;
  color: white;
  /* font-family: 'Prompt', sans-serif; */
}

h3{
  color: white;
  font-size: 1.2rem;
}

h4{
  color: white;
  font-size: 1rem;
}

p{
  font-size: 0.9rem;
  
  font-weight: 100;
  color: white;
}

span{
  font-family: 'Kanit', sans-serif;
  font-style: italic;
}
.container{
  margin: 10rem 5%;
}

.d-flex{
  display: flex;
}

.j-content{
  justify-content: center;
}

.f-column{
  flex-direction: column;
}

.shadow{
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.034),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.048),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.072),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.086),
  100px 100px 80px rgba(0, 0, 0, 0.12)
;
}



.title-section{
  font-size: 3rem;
  color: white;
  text-align: center;
}

.section-separation{
  margin: 200px 0;
}

/*Colors */

#root{
  --primary: #fecb00;
  --secondary: #545456;
  --terciary: #1d1d1e;
  --fourthy: white;
}

#button-up{
  border-radius: 50%;
  width: 4em;
  height: 4em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0;
}

#button-up svg{
  width: 1.5rem;
  height: 1.5rem;
}

.button {
	margin: 0 auto;
	width: 10em;
	background-color: rgb(227, 235, 9);
	color: black;
	border-radius: 1rem;
	font-size: 15px;
	font-weight: 600;
	padding: 0.8em 0.8em;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border: 1px solid black;
	box-shadow: 0 0 0 0 black;
  }
  
  .button:hover {
	transform: translateY(-4px) translateX(-2px);
	box-shadow: 2px 5px 0 0 rgba(244, 209, 10, 0.512);
  };
  
  .button:active {
	transform: translateY(2px) translateX(1px);
	box-shadow: 0 0 0 0 black;
  };

  
/* Keyframes */
 @keyframes slide-text__right {
    0% {
     
              transform: translateZ(0) translateX(0);
    }
    100% {
      
              transform: translateZ(0) translateX(-100);
    }
  }
 
  
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width:100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }
  
  @media (width > 800px) {
    .about-photo{
      width: 20vw;
    }
  }


  @media(width <= 800px ){
    .soft-skills{
      flex-direction: column;
      margin: 0 5%;
    }

    .soft-container:nth-child(2){
      margin-top: 0;
    }
    .projects{
      flex-direction: column;
      align-items: center;
    }

    .about-me{
      flex-direction: column;
      align-items: center;
    }

    .about-me__content{
      flex-direction: column;
      
    }

    .about-photo{
      /* width: 60vw; */
    }


    .about-photo__contain{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo-social{
      width: 50px;
      margin: 10px;
      
    }
    .header-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .header-content__photo{
      width: 40%;
    }

    .header-container{
      flex-direction: column;
    }

    .contact-section{
      flex-direction: column;
    }

    h1{
      text-align: center;
    }

    .contain-form{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .login-box{
      width: 400px;
    }

    .contact-image{
      display: none;
    }

    .carousel-logo{
      width: 100px;
    }

    .project-btn-container{
      flex-direction: column;
      gap: 0.8rem;
    }

    .project-card{
      width: 300px;
      height: 200px;
    }
  }

